<div class="container">
    <h1>Item detail</h1>

    <form novalidate="novalidate" class="form-horizontal">
        <fieldset>
            <legend>{{view.form}}</legend>
            <div class="control-group">
                <label class="control-label" for="inputFirstName">Item:</label>
                <input class="controls" type="text" id="inputFirstName" ng-model="doc.title"/>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputFirstName">Brand:</label>
                <input class="controls" type="text" id="inputFirstName" ng-model="doc.brand"/>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputFirstName">Initial registration:</label>
                <input class="controls" type="text" id="inputFirstName" ng-model="doc.initialRegistration"/>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputFirstName">Purchase:</label>
                <input class="controls" type="text" id="inputFirstName" ng-model="doc.purchase"/>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPerson">Person:</label>
                <select id="inputTitle" ng-options="person._id as person.title for person in availablePersons" 
                        ng-model="doc.person_id">
                </select>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputLastName">Actions:</label>
                <input class="controls" type="text" id="inputLastName" ng-model="doc.actions"/>
            </div>
            <div ng-include="'views/_doc.html'"></div>
        </fieldset>
    </form>
    <div>
        <h3>Costs</h3>
        <button ng-click="editCost('-1')" class="btn btn-small">create new cost</button>
        <ul>
            <li ng-repeat="cost in costs track by cost._rev">
                <div>
                    {{cost.title}} ({{cost.theme}})
                    <button ng-click="deleteCost(cost)" class="btn btn-small btn-danger">delete</button>
                    <button ng-click="editCost(cost)" class="btn btn-small btn-primary">edit</button>
                </div>
            </li>
        </ul>
    </div>
    <div>
        <h3>Todos</h3>
        <button ng-click="editTodo('-1')" class="btn btn-small">create new todo</button>
        <ul>
            <li ng-repeat="todo in todos track by todo._rev">
                <div>
                    {{todo.title}} ({{todo.theme}})
                    <button ng-click="deleteTodo(cost)" class="btn btn-small btn-danger">delete</button>
                    <button ng-click="editTodo(cost)" class="btn btn-small btn-primary">edit</button>
                </div>
            </li>
        </ul>
    </div>
</div>

