<div class="container">
    <h1>Item detail</h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputFirstName">Item:</label>
            <div class="controls">
                <input type="text" id="inputFirstName" ng-model="doc.title"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputFirstName">Brand:</label>
            <div class="controls">
                <input type="text" id="inputFirstName" ng-model="doc.brand"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputFirstName">Initial registration:</label>
            <div class="controls">
                <input type="text" id="inputFirstName" ng-model="doc.initialRegistration"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputFirstName">Purchase:</label>
            <div class="controls">
                <input type="text" id="inputFirstName" ng-model="doc.purchase"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputLastName">Actions:</label>
            <div class="controls">
                <input type="text" id="inputLastName" ng-model="doc.actions"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
              <!-- user-detail.html: -->
                <button ng-click="cancel()" class="btn btn-small">return to list</button>
                <button ng-click="updateDoc(doc)" class="btn btn-small btn-primary">update item</button>

              <!-- user-creation.html: -->
                <button ng-click="editDoc('-1')" class="btn btn-small btn-primary">create new item</button>
            </div>
        </div>
        <div>
            <h3>Costs</h3>
            <button ng-click="editCost('-1')" class="btn btn-small">create new cost</button>
            <ul>
                <li ng-repeat="cost in costs track by cost._rev">
                    <div>
                        <button ng-click="deleteCost(cost)" class="btn btn-small btn-danger">delete</button>
                        <button ng-click="editCost(cost._id)" class="btn btn-small btn-primary">edit</button>
                        {{cost.title}} ({{cost.theme}})
                    </div>
                </li>
            </ul>
        </div>
    </form>
    <div ng-include="'views/_doc.html'"></div>
</div>
    
