<ul>
    <li ng-repeat="doc in docs track by doc._rev">
        <div>
            <input ng-click="deleteDoc(doc)" type="button" class="btn btn-small btn-danger" value="delete" />
            <input ng-click="editDoc(doc)" type="submit" class="btn btn-small btn-primary" value="edit" />
            {{doc.type}} {{doc.title}} ({{doc.date}})<sub>-{{doc.dateISO}}-</sub>
        </div>
    </li>
</ul>

<hr>

<button class="btn" ng-click="showLogs = !showLogs">toggle Logs</button>
<br><br>
<div ng-show="showLogs">
    <ul>
        <li ng-repeat="log in logs| orderBy:'seq':true">
            <pre>{{log| json}}</pre>
        </li>
    </ul>
</div>
